baostock==0.8.8
gym==0.26.2
matplotlib==3.7.2
numpy==1.25.1
pandas==1.5.3
PySnooper==1.2.0
retrying==1.3.4
schedule==1.2.0
seaborn==0.12.2
stockstats==0.6.0
streamlit==1.25.0
torch==2.0.1
tqdm==4.65.0
